.App {
  background-image: 
    linear-gradient(to right, rgba(241, 155, 150, 0.2), rgba(250, 170, 32, 0.2)),
    url(./img/coffee_b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

:root {
  --text-gold: gold;
  --bg-color : rgb(12, 12, 12);
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
a {
  text-decoration: none;
}
.text-black {
  color: var(--text-gold);
}
.nav {
  padding: 0 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 0rem;
  min-height: 9vh;
  overflow-y: hidden;
  transition: height 1s ease;
}
nav .nav-brand a {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  font-size: 1.6rem;
}
nav .nav-items {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  text-decoration: none;
}
nav .nav-items .nav-link {
  padding: 1.3rem 1rem;
  font-size: 1.1rem;
  margin-left: 50px;
}

.toggle-collapse {
  position: absolute;
  top: 0%;
  width: 100%;
  cursor: pointer;
  display: none;

}
nav .toggle-collapse .toggle-btn {
  position: absolute;
  right: .5rem;
  padding: 1.4rem 4rem;
}
.toggle-btn span {
  display: block;
  width: 30px;
  height: 2px;
  padding: 1px;
  margin: 3px;
  background-color: var(--bg-color);
}
.collapse {
  height: 25rem;
}
@media only screen and (max-width: 800px) {
  .nav {
      padding-bottom: 5px;
      min-height: 7vh;
  }
  nav .nav-items {
      flex-direction: column;
  }
  nav {
      flex-direction: column !important;
      display:  block !important;
  }
  .toggle-collapse {
      display: initial;
  }
}
nav .nav-link:hover {
  transform: translateY(-6px);
  text-shadow: 2px 2px 9px black;
}
.center {
  text-align: center;
}
.home {
  position: relative;
  margin-top: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.menu {
  font-size: 11.5px;
  text-transform: uppercase;
  border: 1px solid wheat;
  padding: 5px 15px;
  text-align: center;
  margin: 10px auto auto auto;
  width: 90px;
}
.menu a {
  color: white;
}
.card {
box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
text-align: center;
}

.price {
color: grey;
font-size: 22px;
}

.card button {
border: none;
padding: 12px;
color: white;
background-color: rgb(143, 104, 7);
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

.card button:hover {
opacity: 0.7;
}
.contact-container {
  margin-top: 18px;
}
.item-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.item-box {
  margin: 12px 6px 0 6px;
  border-radius: 50px;
}

.cart-wrapper {
  position: relative;
}
.cart-count {
  position: absolute;
  height: 15px;
  width: 15px;
  top: -8px;
  border-radius: 50px;
  background-color: brown;
  color: white;
  left: 20px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
}
.contact-wrapper {
  display: flex;
  flex-direction: row;
  height: 400px;
  background-color: rgb(250, 241, 241);
  /* padding: 5px; */
  margin: 0 70px 0 70px;
}
.contact-msg {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 70%;
  padding: 5px 0 5px 35px;
  margin: 5px;
}
.msg {
  width: 85%;
  height: 40px;
  margin-bottom: 30px;
  padding-left: 17px;
  background-color: rgb(187, 186, 184, 0.2);
  border-style: none;
}
.msg-box {
  height: 90px;
}
.send-box {
  margin-bottom: 20px;
  background-color: rgb(216, 158, 11);
}
.msg-name {
  margin-top: 10px;
}
.contact-info {
  /* background-color: red; */
  height: 95%;
  width: 55%;
  margin: 5px;
}
.msg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  padding: 15px;
  color: black;
  border-left: .5px solid gray;
  
}
.des {
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: space-around;
}
.des-image img {
  height: 300px;
}
.des-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
.des-btn {
  border: none;
  padding: 12px;
  margin-top: 20px;
  color: white;
  background-color: rgb(143, 104, 7);
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  }
.des-content {
  padding: 5px 10px;
  margin-left: 70px;
}
.line {
  height: 1px;
  width: 70%;
  background: gainsboro;
}
.des-price {
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0;
}
.qty {
  display: flex;
  margin: 30px 0;
}
table, td, tr {
  border: 1px solid rgb(196, 192, 192);
  border-collapse: collapse;
}
td , tr {
  padding: 1px 10px;
}

