.App {
  background-image: 
    linear-gradient(to right, rgba(241, 155, 150, 0.2), rgba(250, 170, 32, 0.2)),
    url(./img/coffee_b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  padding: 5px;
}
.nav-container {
  position: relative;
  height: 50px;
  padding: 5px 150px;
}
.title {
  position: absolute;
  font-weight: bolder;
  font-size: 30px;
  top: 10px;
  color: goldenrod;
}
.nav-links {
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  /* color: gold; */
  padding: 0 0 0 50px;
}

ul {
  float: right;
}
.nav-links a {
  color: gold;
}
a {
  text-decoration: none;
}

.nav-links:hover {
  transform: translateY(-3px);
  text-shadow: 2px 2px 9px black;
}
.center {
  text-align: center;
}
.home {
  position: relative;
  margin-top: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.menu {
  font-size: 11.5px;
  text-transform: uppercase;
  border: 1px solid wheat;
  padding: 5px 15px;
  text-align: center;
  margin: 25px auto auto auto;
  width: 90px;
}
.menu a {
  color: white;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
text-align: center;
}

.price {
color: grey;
font-size: 22px;
}

.card button {
border: none;
padding: 12px;
color: white;
background-color: rgb(143, 104, 7);
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

.card button:hover {
opacity: 0.7;
}

.item-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  background-color: rgb(243, 235, 235, 0.8);
}
.item-box {
  margin: 12px 6px 0 6px
}

.cart-wrapper {
  position: relative;
}
.cart-count {
  position: absolute;
  height: 15px;
  width: 15px;
  top: -8px;
  border-radius: 50px;
  background-color: brown;
  color: white;
  left: 20px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
}
.contact-wrapper {
  display: flex;
  flex-direction: row;
  height: 400px;
  background-color: rgb(250, 241, 241);
  /* padding: 5px; */
  margin: 0 70px 0 70px;
}
.contact-msg {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 55%;
  padding: 5px 0 5px 35px;
  margin: 5px;
}
.msg {
  width: 85%;
  height: 40px;
  margin-bottom: 30px;
  padding-left: 17px;
  background-color: rgb(187, 186, 184, 0.2);
  border-style: none;
}
.msg-box {
  height: 90px;
}
.send-box {
  margin-bottom: 20px;
  background-color: rgb(216, 158, 11);
}
.msg-name {
  margin-top: 10px;
}
.contact-info {
  /* background-color: red; */
  height: 95%;
  width: 55%;
  margin: 5px;
}
.msg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  padding: 15px;
  color: black;
  border-left: .5px solid gray;
  
}

/* .sidebar {
  position: fixed;
  width: 200px;
  height: 75vh;
  padding: 7px;
  background: rgba(0, 0, 0, 0.877);
  left: -200px;
  transition: all 500ms linear;
  cursor: pointer;
}
.toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}
.sidebar.active {
  left: 0px;
}
.toggle-btn span {
  display: block;
  width: 30px;
  height: 3px;
  padding: 1px;
  margin: 3px;
  background-color: pink;
  cursor: pointer;
}
.sidebar-links li {
  border-bottom: 1px solid white;
  text-align: center;
  list-style: none;
  padding: 15px;
  text-transform: capitalize;
}
.sidebar-links li a {
  color: whitesmoke;
  text-decoration: none;
} */